############################################################################################
################## need to install for distributive_computing project ######################
############################################################################################
# how to use:
# python -m pip install -r requirements.txt
############################################################################################

dispy
pycos
pywin32